@page
@using Apram.Abstractions.Data

@model Apram.Pages.AddRFQModel
@{
}
<style>
    /* Style inputs */
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style the submit button */
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        /* Add a background color to the submit button on mouse-over */
        input[type=submit]:hover {
            background-color: #45a049;
        }
</style>
<h1 >Add RFQ</h1>
<form method="post">
    <label for="serial">Part Number</label>
    <input id="serial" asp-for="RFQToAdd.PartNumber" type="text" />
    <label for="AircraftType">Aircraft Type</label>
    <input id="AircraftType" asp-for="RFQToAdd.AircraftType" type="text" />
    <label for="description">Description</label>
    <input id="description" asp-for="RFQToAdd.PartDescription" type="text" />
    <input type="hidden" asp-for="RFQToAdd.RequestingEntity" value="@User.Identity.Name"/>
    <input type="submit" />
</form>
@if (Model.ShowSuccessStatus)
{
    @if (Model.Success)
    {
        <h1 class="bg-success">RFQ Uploaded Successfully!</h1>
    }
    else
    {
        <h1 class="bg-danger">Error while uploading RFQ!</h1>
    }
}
